{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
    <div class="d-flex align-items-center mb-4">
        <div class="avatar-circle me-2">{{ profile_user.username|first|upper }}</div>
        <h3>{{ profile_user.username }}</h3>
    </div>
    <!-- Секция с постами пользователя -->
    <h2 class="mt-4">Статьи пользователя</h2>
    {% if posts %}
        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title|default:"Без заголовка" }}</h5>
                    <p class="card-text text-muted">
                        Опубликовано: {{ post.published_date|date:"d.m.Y H:i" }}
                    </p>
                    <p class="card-text">{{ post.content|truncatechars:200 }}</p>
                    {% if post.image %}
                        <div class="text-center">
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid mb-3" style="max-width: 100%;">
                        </div>
                    {% endif %}
                    <p><a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Читать далее</a></p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>У пользователя пока нет статей.</p>
    {% endif %}
</div>
{% endblock %}