
.post-image {
    width: 100%; /* Адаптивная ширина */
    height: auto; /* Автоматическая высота */
    object-fit: cover; /* Сохранение пропорций и обрезка */
}

@media (min-width: 768px) {
    .post-image {
        width: 1080px; /* Фиксированная ширина для больших экранов */
        height: 620px; /* Фиксированная высота для больших экранов */
    }
}
body {
    background-color: #dbeff6;
}

.avatar-circle {
    width: 2rem;
    height: 2rem;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.card {
    margin-bottom: 1rem;
}

textarea.form-control {
    resize: none; /* Запрет изменения размера текстового поля */
}