<!-- templates/users/post_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <section class="col-md-9">
        <h1 class="mb-4">{{ title }}</h1>

        {% block before_posts %}{% endblock %}

        {% if posts_with_bookmarks %}
            {% for item in posts_with_bookmarks %}
                {% include 'includes/post_card.html' with post=item.post is_bookmarked=item.is_bookmarked %}
            {% endfor %}
        {% else %}
            <p>{{ empty_message|default:"Пока нет статей." }}</p>
        {% endif %}
    </section>

    {% block sidebar %}
    <!-- Базовый сайдбар можно оставить пустым -->
    {% endblock %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const likeButtons = document.querySelectorAll('.like-button');
    const dislikeButtons = document.querySelectorAll('.dislike-button');

    likeButtons.forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const postId = this.getAttribute('data-post-id');
            const form = document.getElementById(`like-form-${postId}`);
            fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': form.querySelector('input[name="csrfmiddlewaretoken"]').value
                },
                body: JSON.stringify({})
            })
            .then(response => response.json())
            .then(data => {
                const likesElement = this.querySelector('span');
                const dislikesElement = document.querySelector(`#dislike-form-${postId} .dislike-button span`);
                likesElement.textContent = data.likes;
                dislikesElement.textContent = data.dislikes;
            });
        });
    });

    dislikeButtons.forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const postId = this.getAttribute('data-post-id');
            const form = document.getElementById(`dislike-form-${postId}`);
            fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': form.querySelector('input[name="csrfmiddlewaretoken"]').value
                },
                body: JSON.stringify({})
            })
            .then(response => response.json())
            .then(data => {
                const likesElement = document.querySelector(`#like-form-${postId} .like-button span`);
                const dislikesElement = this.querySelector('span');
                likesElement.textContent = data.likes;
                dislikesElement.textContent = data.dislikes;
            });
        });
    });
});
</script>
{% endblock %}